#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUMBER  1
#define SYMBOL  2
#define HOTKEY  3

#define AS(keycode) &as LS(keycode) keycode

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_0";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&kp TAB>;
        };
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "AUTO_SHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        modcp: mod_copy {
            compatible = "zmk,behavior-mod-morph";
            label = "MOD_COPY";
            #binding-cells = <0>;
            bindings = <&as LS(C) C>, <&kp C>;

            mods = <(LGUI | RGUI)>;
        };
    };

    macros {
        macro_phone: macro_phone {
            // 1351

            label = "MACRO_PHONE";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N3 &kp N5 &kp N1>;
        };
        macro_email_q: macro_email_q {
            // 2894512440@qq.com

            label = "MACRO_EMAIL_QQ";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp N2 &kp N8 &kp N9 &kp N4 &kp N5 &kp N1 &kp N2 &kp N4 &kp N4 &kp N0 &kp AT &kp Q &kp Q &kp DOT &kp C &kp O &kp M>;
        };
        macro_email_g: macro_email_g {
            // 135115

            compatible = "zmk,behavior-macro";
            label = "MACRO_EMAIL_GMAIL";
            #binding-cells = <0>;
            bindings = <&kp N1 &kp N3 &kp N5 &kp N1 &kp N1 &kp N5>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_00 {
            timeout-ms = <50>;
            key-positions = <>;
            bindings = <&kp  LSHFT>;
        };

        combo_11 {
            timeout-ms = <40>;
            key-positions = <>;
            bindings = <&mo 2>;
        };

        combo_22 {
            timeout-ms = <50>;
            key-positions = <>;
            bindings = <&kp EXCL>;
        };

        combo_33 {
            timeout-ms = <50>;
            key-positions = <>;
            bindings = <&kp AT>;
        };

        combo_44 {
            timeout-ms = <50>;
            key-positions = <>;
            bindings = <&kp HASH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "DEFAULT";
            bindings = <
&lt 3 RIGHT_BRACKET  &kp Q  &kp W         &kp E         &kp R       &kp T          &kp Y            &kp U          &kp I          &kp O              &kp P       &lt 2 LEFT_BRACKET
&kp LEFT_CONTROL     &kp A  &kp S         &kp D         &kp F       &kp G          &kp H            &kp J          &kp K          &kp L              &kp SEMI    &kp SQT
&kp LEFT_SHIFT       &kp Z  &kp X         &kp C         &kp V       &kp BACKSLASH  &kp B            &kp N          &kp M          &kp COMMA          &kp PERIOD  &kp SLASH
                            &kp LEFT_WIN  &kp LEFT_ALT  &kp TAB     &kp SPACE      &kp RIGHT_SHIFT  &kp BACKSPACE  &kp RIGHT_ALT  &kp RIGHT_CONTROL
                            &kp CAPSLOCK  &none         &kp ESCAPE  &to 1          &to 2            &kp ENTER      &none          &kp RIGHT_WIN
            >;
        };

        number_layer {
            label = "NUMBER";
            bindings = <
&kp MINUS         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6     &kp N7         &kp NUMBER_8  &kp NUMBER_9   &kp NUMBER_0  &kp EQUAL
&kp LEFT_CONTROL  &none         &none         &none         &none         &none         &none            &kp NUMBER_4   &kp NUMBER_5  &kp NUMBER_6   &kp NUMBER_0  &none
&kp LEFT_SHIFT    &none         &none         &none         &none         &none         &none            &kp NUMBER_1   &kp NUMBER_2  &kp NUMBER_3   &none         &none
                                &none         &none         &kp TAB       &kp SPACE     &kp RIGHT_SHIFT  &kp BACKSPACE  &none         &none
                                &kp CAPSLOCK  &none         &kp ESCAPE    &to 0         &to 2            &kp ENTER      &none         &kp RIGHT_GUI
            >;
        };

        vim_layer {
            label = "VIM";
            bindings = <
&kp F1                &kp F2      &kp F3        &kp F4  &kp F5      &kp F6     &kp F7           &kp F8         &kp F9  &kp F10        &kp F11  &kp F12
&kp C_BRI_UP          &kp ESCAPE  &none         &none   &none       &none      &kp LEFT         &kp DOWN       &kp UP  &kp RIGHT      &none    &kp C_VOLUME_UP
&kp C_BRIGHTNESS_DEC  &none       &none         &none   &none       &none      &none            &none          &none   &none          &none    &kp C_VOLUME_DOWN
                                  &none         &none   &kp TAB     &kp SPACE  &kp RIGHT_SHIFT  &kp BACKSPACE  &none   &none
                                  &kp CAPSLOCK  &none   &kp ESCAPE  &to 1      &to 0            &kp ENTER      &none   &kp RIGHT_GUI
            >;
        };

        hotkey_layer {
            label = "HOTKEY";
            bindings = <
&none       &bt BT_SEL 0  &bt BT_SEL 1       &bt BT_SEL 2      &bt BT_SEL 3       &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
&sys_reset  &none         &none              &none             &none              &out OUT_USB  &out OUT_USB  &none         &none         &none         &none         &sys_reset
&none       &none         &ext_power EP_TOG  &ext_power EP_ON  &ext_power EP_OFF  &out OUT_BLE  &out OUT_BLE  &none         &none         &none         &none         &none
                          &none              &none             &none              &none         &none         &none         &none         &none
                          &none              &none             &none              &to 1         &to 2         &none         &none         &none
            >;
        };
    };
};
